
<div>
    <h1>Your Bookings</h1>
</div>

<div>
    <table class="table table-bordered table-striped mt-3" width="100%">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>